import React from 'react'; import { connect } from 'react-redux'; import {
API_CONSTANTS } from '../../constants'; import PropTypes from 'prop-types';
import styles from './styles.scss'; const
{{pascalCase name}}
= props => { return (
<div className='{{pascalCase name}}-container'>
</div>
); }; const mapStateToProps = (state) => ({}); const mapDispatchToProps =
(dispatch) => ({}); export default connect(mapStateToProps, mapDispatchToProps)({{pascalCase
  name
}})